<a href="https://colab.research.google.com/github/NathalieNieto/pyladies/blob/master/colab-day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## Tipo se de Datos
## Asignacion de variables
## Operaciones Aritmeticas
## Orden de precedencia (**, - negacion, *, /, //, %, +, -)
## Operadores Logicos

In [2]:
a, b, c ,d = 1, -1, 'uno', 2.3
print(a, b, c, d)

1 -1 uno 2.3

In [3]:
## Boolean: elem nulos o vacios False y el resto True

In [4]:
print(bool(0), bool(), bool(""), bool({}), bool([]), bool(None))

False False False False False False

In [5]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [6]:
print('1', '2', '3', '4', sep='\n')

1
2
3
4